[submodule "FFXIVClientStructs"]
	path = FFXIVClientStructs
	url = https://github.com/aers/FFXIVClientStructs.git
[submodule "ECommons"]
	path = ECommons
	url = https://github.com/woimqimodkbrne/ECommons
	branch = textadvance
[submodule "ClickLib"]
	path = ClickLib
	url = https://github.com/woimqimodkbrne/ClickLib
